<div class="filter">
	<mat-button-toggle-group [multiple]="true" (change)="onFilterChange($event.value)">
		<mat-button-toggle value="Painting">Paintings</mat-button-toggle>
		<mat-button-toggle value="Drawing">Drawings</mat-button-toggle>
		<mat-button-toggle value="Bead">Beads</mat-button-toggle>
	</mat-button-toggle-group>
</div>

<mat-spinner style="margin: 30px auto;" *ngIf="isLoading"></mat-spinner>

<mat-grid-list cols="2" [rowHeight]="matgridRatio" *ngIf="!isLoading">
	<ng-container *ngFor="let itemPair of items">
		<mat-grid-tile *ngFor="let item of itemPair">
			<button (click)="onItemSelected(item)">
				<mat-card>
					<mat-card-title>{{ item.title }}</mat-card-title>
					<img mat-card-image [src]="item.imagePath">
				</mat-card>
			</button>
		</mat-grid-tile>
	</ng-container>
</mat-grid-list>

<mat-paginator #paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="pageOptions" (page)="onChangedPage($event)"></mat-paginator>