.mat-card-image {
	object-fit: contain;
	max-width: 550px;
	max-height: 400px;
}

button {
	background: none;
	color: inherit;
	outline: inherit;
	border: none;
	cursor: pointer;
}

mat-paginator {
	display: flex;
	justify-content: center;
}

.filter {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}