.mat-card-image {
	object-fit: contain;
	max-width: 550px;
	max-height: 400px;
}

a.nostyle:link,
a.nostyle:visited {
	text-decoration: inherit;
	color: inherit;
}

mat-spinner {
	margin: 30px auto;
}

mat-paginator {
	display: flex;
	justify-content: center;
}