<mat-card *ngIf="!isLoading">
	<form [formGroup]="itemForm" (ngSubmit)="onCreateItem()">
		<mat-form-field>
			<input matInput placeholder="Title" [formControlName]="'title'">
			<mat-error *ngIf="itemForm.get('title').invalid">Please enter a title.</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Description (Optional)" [formControlName]="'description'">
		</mat-form-field>
		<mat-form-field style="width: 250px;">
			<mat-label>Select Type</mat-label>
			<mat-select [formControlName]="'type'">
				<mat-option value="Painting">Painting</mat-option>
				<mat-option value="Drawing">Drawing</mat-option>
				<mat-option value="Bead">Bead</mat-option>
				<mat-option value="Craft">Craft</mat-option>
			</mat-select>
		</mat-form-field>
		<div>
			<button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
			<input type="file" (change)="onImagePicked($event)" #filePicker>
			<mat-error *ngIf="itemForm.get('image').invalid">Please choose an image.</mat-error>
		</div>
		<div class="image-preview" *ngIf="imagePreview">
			<img [src]="imagePreview" [alt]="itemForm.value.title">
		</div>
		<button type="submit" [disabled]="itemForm.invalid" mat-raised-button color="accent" style="margin-top: 30px;">Create Item</button>
	</form>
</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>