<a class="back" mat-fab [routerLink]="['']">< BACK</a>
<div *ngIf="!isLoadingItem">
	<h1 class="topText">{{ viewingItem.title }}</h1>
	<h4 class="topText">{{ viewingItem.type }}</h4>
	<img class="image" [src]="viewingItem.imagePath">
</div>
<mat-spinner *ngIf="isLoadingItem"></mat-spinner>

<div *ngIf="!isLoadingAddComment">
	<form class="centered addComment" [formGroup]="commentsForm" (ngSubmit)="onAddComment()" *ngIf="isAuth()">
		<mat-form-field style="width: 400px;">
			<input matInput placeholder="Enter Comment" [formControlName]="'comment-content'">
		</mat-form-field>
		<button type="submit" [disabled]="!commentsForm.value['comment-content']" mat-raised-button color="primary">Add Comment</button>
	</form>
	<p class="centered addComment" *ngIf="!isAuth()">Please login to post a comment.</p>
</div>
<mat-spinner *ngIf="isLoadingAddComment"></mat-spinner>

<div *ngIf="!isLoadingComments">
	<h2 class="centered commentsHeader">{{ viewingItemComments.length }} Comment{{ viewingItemComments.length === 1 ? '' : 's' }}</h2>
	<div class="centered" *ngFor="let comment of viewingItemComments">
		<p style="margin-bottom: 15px;"><strong>{{ comment.creator }}:</strong> {{ comment.content }}</p>
	</div>
</div>
<mat-spinner *ngIf="isLoadingComments"></mat-spinner>